@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kanit:wght@200;400;800&display=swap');

/* ROOT */
:root {
    --screen--s: 480px;
    --screen--m: 768px;

    --h--header: 80px;

    --z--bg: -10;
    --z--base: 5;
    --z--header: 10;
    --z--popup: 20;
    --z--top: 30;

    --c--text: 25, 47, 96;
    --c--bg: 248, 244, 230;
    --c--accent: 172, 39, 24;
    --c--primary: 132, 185, 203;

    --p--base: 8px;
    --p--bottom: 64px;
    --m--section: 64px;
    --m--item: 32px;

    --f-size--text: 1rem;
    --f-size--s: 0.707rem;
    --f-size--m: 1.414rem;
    --f-size--l: 1.999rem;
    --f-size--xl: 2.827rem;
    --f-size--xxl: 3.998rem;

    --duration--landing: 2s;
    --duration--base: 0.5s;
    --duration--nav: 1s
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Indie Flower', cursive;
    font-family: 'Kanit', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: var(--f-size--text);
    line-height: calc(var(--f-size--text)*1);
}
p::first-letter {
    text-transform: uppercase;
}
h1 {
    font-size: var(--f-size--xxl);
    line-height: calc(var(--f-size--xxl)*1.5);
}
h2 {
    font-size: var(--f-size--xl);
    line-height: calc(var(--f-size--xl)*1.5);
}
h3 {
    font-size: var(--f-size--l);
    line-height: calc(var(--f-size--l)*1.5);
}
h4 {
    font-size: var(--f-size--m);
    line-height: calc(var(--f-size--m)*1.5);
}
p, h1, h2, h3, h4 {
    color: rgba(var(--c--text), 0.9);
}

/* UTILITY ANIMATION */


/* FRAMEWORK */
.background--static {
    z-index: var(--z--bg);
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url("/images/bg-wave.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.background__side--left {
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100% - var(--screen--s))/2);
    height: 100%;
}
.background__side--right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100% - var(--screen--s))/2);
    height: 100%;
}

.background--dynamic {
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
}

.header {
    z-index: var(--z--header);
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    width: 100dvw;
    height: var(--h--header);
    padding: var(--p--base);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.8s ease-in-out;
}

.foreground {
    width: 100%;
}

body:has(.nav--smallScreen.active) .foreground {
    display: none;
}

footer {
    position: relative;
    max-width: var(--screen--s);
    margin: 0 auto;
    height: 320px;
    border: solid 1px rgba(55,55,255, 1)!important;
}

/* COMPONENT */
.logo {
    display: inline-block;
}

.title {
    display: inline-block;
}

.title__hidden {
    display: none;
}



.ticket {
    padding: var(--p--base);
    background-color: rgba(var(--c--bg), 1);
}

@keyframes hamburgerAfter {
    0% {
        top: 200%;
        transform: rotate(0);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(45deg) ;
    }
}
@keyframes hamburgerAfter-reverse {
    0% {
        top: 0;
        transform: rotate(45deg);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: 200%;
        transform: rotate(0) ;
    }
}
@keyframes hamburgerBefore {
    0% {
        top: -200%;
        transform: rotate(0);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(-45deg);
    }
}
@keyframes hamburgerBefore-reverse {
    0% {
        top: 0;
        transform: rotate(-45deg);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: -200%;
        transform: rotate(0);
    }
}
.hamburger {
    position: relative;
    width: 40px;
    height: 40px;
}
.hamburger__border,
.hamburger__border::after, 
.hamburger__border::before {
    position: absolute;
    background-color: rgba(var(--c--text), 0.8);
    border-radius: 5px;
}
.hamburger__border {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    aspect-ratio: 6 / 1;
}
.hamburger__border::after, .hamburger__border::before {
    --top: 200%;
    content: '';
    left: 0;
    top: var(--top);
    width: 100%;
    height: 100%;
}
.hamburger__border::before {
    --top: -200%;
}
.hamburger.animated .hamburger__border::after{
    animation: hamburgerAfter-reverse 0.25s;
}
.hamburger.animated .hamburger__border::before{
    animation: hamburgerBefore-reverse 0.25s;
}
.hamburger:hover .hamburger__border, 
.hamburger:hover .hamburger__border::after,
.hamburger:hover .hamburger__border::before {
    background-color: rgba(var(--c--text), 1);
}

.hamburger.active .hamburger__border{
    background-color: rgba(var(--c--text), 0);
}
.hamburger.active .hamburger__border:after, .hamburger.active .hamburger__border:before {
    --angle: 45deg;
    top: 0;
    transform: rotate(var(--angle));
}
.hamburger.active .hamburger__border:before {
    --angle: -45deg;
}
.hamburger.animated.active .hamburger__border:after{
    animation: hamburgerAfter 0.25s;
}
.hamburger.animated.active .hamburger__border:before {
    animation: hamburgerBefore 0.25s;
}

.content-change-on-hover {
    --content: '';
    position: relative;
}
.content-change-on-hover::before {
    content: var(--content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    background-color: none;
    border-radius: 10px;
    display: none;
    text-align: center;
    vertical-align: middle;
}
.content-change-on-hover:hover {
    display: hidden;
}
.content-change-on-hover:hover::before {
    background-color: rgba(var(--c--accent), 1);
    display: block;
}

/* BACKGROUND STATIC */

/* BACKGROUND DYNAMIC */
@keyframes landing-dynamic {
    0% {
        z-index: var(--z--popup);
    }
    60%{
        z-index: var(--z--base);
    }
    100%{
        z-index: var(--z--base);
    }
}
.background--dynamic {
    z-index: var(--z--base);
    animation: landing-dynamic var(--duration--landing);
    pointer-events: none;
}
.background--dynamic__fuji {
    z-index: var(--z--bg);
    position: absolute;
    transform: translateX(-50%);
    bottom: 0%;
    left: 50%;
    width: auto;
    min-width: calc(var(--screen--m)*1.5);
    height: 50%;
    background-image: url("/images/fuji.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
body:has(.nav--smallScreen.active) .background--dynamic {
    z-index: var(--z--top);
}
/* HEADER */
.header.active,
body:has(.nav--smallScreen.active) .header {
    transform: translateY(0%);
}
.header__logo-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: 100%;
}
.logo--header, .title--header {
    width: auto;
    height: 100%;
}
.title__img {
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* NAV */
@keyframes smallNav-opening {
	0% {
		transform: rotate(-20deg) translateX(-150%) translateY(50%) rotate(20deg);
	}
    80% {
		transform: rotate(0deg) translateX(-50%) translateY(var(--h--header)) rotate(0deg);
	}
}
@keyframes smallNavList-opening {
    0% {
		transform: scale(0);
	}
    80% {
		transform: scale(0);
	}
    100% {
		transform: scale(1);
	}
}

.nav-list {
    display: inline-block;
}
.nav--smallScreen {
    z-index: var(--z--popup);
    position: fixed;
    transform: translateX(-50%) translateY(var(--h--header));
    transform-origin: 0;
    top:0;
    left: 50%;
    height: 50%;
    aspect-ratio: 1;
    background-color: rgba(var(--c--accent), 1);
    border-radius: 50%;
    overflow: hidden;
    display: none;
}
.nav--smallScreen__wrapper {
    transform: scale(0);
    width: 100%;
    height: calc(100% - var(--h--header));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav-list {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    color: rgba(var(--c--bg), 1);
}
.nav--smallScreen.active {
    z-index: var(--z--bg);
    display: block;
    animation: smallNav-opening var(--duration--nav) ease-out;
}
.nav--smallScreen.active .nav--smallScreen__wrapper {
    transform: scale(1);
    animation: smallNavList-opening var(--duration--nav) ease-out;
}

/* HOME */
@keyframes landing--foreground--home {
    0% {
        z-index: var(--z--bg);
    }
    60%{
        z-index: var(--z--base);
    }
    100%{
        z-index: var(--z--base);
    }
}
@keyframes landing--logo-wrap {
    0% {
        transform: translateY(200%);
    }
    60% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes landing--logo-title {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(0);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
.foreground--home {
    z-index: var(--z--base);
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    animation: landing--foreground--home var(--duration--landing);
}
.home__ctr {
    position: relative;
    width: 100%;
    max-width: var(--screen--s);
    height: 100dvh;
    margin: 0 auto;
    padding-block: var(--m--section);
    padding-inline: var(--p--base);
}
.home__logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    padding-top: var(--m--section);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all var(--duration--base) ease-out;
}
.home__logo {
    height: 40%;
    transform: scale(0);
}
.home__title {
    max-width: 90%;
    height: 60%;
    transform: scale(0);
    transition: all var(--duration--base);
}
.home__text-wrap {
    position: absolute;
    transform: scale(0);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    padding-bottom: var(--m--section);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* add animation */
    transition: all var(--duration--landing);
}
.home > * .home__logo-wrap {
    animation: landing--logo-wrap var(--duration--landing);
}
.home > * .home__logo {
    height: 40%;
    transform: scale(1);
}
.home > * .home__title {
    transform: scale(1);
    animation: landing--logo-title var(--duration--landing);
}
.home > * .home__text-wrap {
    transform: scale(1);
}

.about > * .home__logo-wrap {
    transform: scale(1);
    height: 60%;
}
.about > * .home__title {
    position: absolute;
    transform: scale(1);
    bottom: 0;
    height: calc(100% - var(--h--header) - var(--f-size--xl) - var(--m--item));
}
.about > * .home__logo,
.about > * .home__text-wrap {
    transform: scale(0);
}
.about.logo-meaning > * .home__title {
    transform: scale(0);
}

/* MAIN */
.foreground--main {
    z-index: var(--z--base);
    position: relative;
    max-width: var(--screen--s);
    margin: 0 auto;
    margin-top: 100dvh;
}
.section {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    padding-top: calc(var(--p--base)+var(--h--header));
    padding-inline: var(--p--base);
    border: solid 1px rgba(55,55,255, 1)!important;
}
.section__title {
    position: fixed;
    transform: scale(0) translateX(-50%);
    transform-origin: 0%;
    top: var(--h--header);
    left: 50%;
    transition: all 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.active .section__title {
    transform: scale(1) translateX(-50%);
}
.section__content {
    width: 90%;
    max-width: calc(var(--screen--s) * 0.9);
    margin: 0 auto;
}
/* About */
.about__content--about {
    position: fixed;
    transform: scale(0) translateX(-50%);
    transform-origin: 0;
    top: calc(60% + var(--m--item));
    left: 50%;
    height: calc(40dvh - var(--m--section));
    transition: all var(--duration--base);
}

.logo-about {
    position: fixed;
    transform: scale(0) translate(-50%);
    transform-origin: 0;
    bottom: 40%;
    left: 50%;
    width: auto;
    height: calc(60dvh - var(--h--header) - var(--f-size--xl) - var(--m--item));
    transition: all var(--duration--base);
}
.about__content--logo {
    position: fixed;
    transform: scale(0) translateX(-50%);
    transform-origin: 0;
    top: calc(60% + var(--m--item));
    left: 50%;
    height: calc(40dvh - var(--m--section));
    transition: all var(--duration--base);
}

.about > * .about__content--about {
    transform: scale(1) translateX(-50%);
}
.about.logo-meaning > * .about__content--about {
    transform: scale(0) translateX(-50%);
}
.about.logo-meaning > * .logo-about {
    transform: scale(1) translate(-50%);
}
.about.logo-meaning > * .about__content--logo {
    transform: scale(1) translate(-50%);
}

/* DECORATOR */
.foreground--top {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
}

/* FOOTER */
body:has(.nav--smallScreen.active) footer {
    display: none;
}