@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


/* ROOT */
:root {
    --screen--s: 480px;
    --screen--m: 768px;

    --h--header: 80px;

    --z--bg: -10;
    --z--base: 5;
    --z--header: 10;
    --z--popup: 20;
    --z--top: 30;

    --c--text: 255, 255, 255;
    --c--bg: 255, 255, 255;
    --c--bg--secondary: 248, 244, 230;
    --c--primary: 175, 38, 23;

    --p--base: 16px;
    --m--bottom: 32px;
    --m--section: 32px;
    --m--item: 16px;

    --f-size--text: 1rem;
    --f-size--s: 0.707rem;
    --f-size--m: 1.414rem;
    --f-size--l: 1.999rem;
    --f-size--xl: 2.827rem;
    --f-size--xxl: 3.998rem;
    --f--line-height: 1.5;

    --duration--landing: 2s;
    --duration--base: 0.5s;
    --duration--nav: 0.8s
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100dvw;
    overflow-x: hidden;
    font-family: 'Kanit','Dela Gothic One', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

ul, ol {
    list-style-type: none;
}

img {
    display: block;
}

p {
    font-size: var(--f-size--text);
    line-height: calc(var(--f-size--text)*var(--f--line-height));
}
p::first-letter {
    text-transform: uppercase;
}
h1 {
    font-size: var(--f-size--xxl);
    line-height: calc(var(--f-size--xxl)*var(--f--line-height));
}
h2 {
    font-size: var(--f-size--xl);
    line-height: calc(var(--f-size--xl)*var(--f--line-height));
}
h3 {
    font-size: var(--f-size--l);
    line-height: calc(var(--f-size--l)*var(--f--line-height));
}
h4 {
    font-size: var(--f-size--m);
    line-height: calc(var(--f-size--m)*var(--f--line-height));
}
p, h1, h2, h3, h4 {
    color: rgba(var(--c--primary), 1);
}

.hidden {
    display: none;
}

/* HEADER */
.header__ctr {

}

/* MAIN */
main {
    width: 100%;
    height: fit-content;
    padding-top: var(--p--base);
}
.section {
    position: relative;
    width: calc(100% - var(--p--base) * 2);
    max-width: var(--screen--s);
    height: fit-content;
    margin-bottom: var(--m--section);
    margin-inline: auto;
    padding: var(--p--base);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__title {
    text-transform: capitalize;
    text-align: center;
}
    /* Home */
.home__ctr {
    width: calc(100% - var(--p--base) * 2);
    height: calc(100vh - var(--p--base)*2 - var(--m--section));
    margin-inline: auto;
    margin-bottom: var(--m--section);
    border: solid 2px rgba(var(--c--primary), 1);
}
.section--home {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: var(--p--base);
    justify-content: center;
}
.home__logo__wrapper {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgba(var(--c--bg),1);
}
.home__logo {
    width: 100%;
    height: auto;
}
.title--home {
    width: 100%;
    height: 30%;
    text-transform: capitalize;
    text-align: center;
}
.title--home .alphabet {
    font-size: calc(var(--f-size--xxl)*1.4);
}

    /* Detail */
.section--detail {
    /* height: 30dvh; */
    background-color: rgba(var(--c--primary), 1);
    color: rgba(var(--c--bg),1);
    justify-content: space-between;
}
.section--detail * {
    color: inherit;
}
.detail__date {
    font-size: var(--f-size--l);
}
.detail__place::before {
    content: '@';
}