/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

ul, ol {
    list-style-type: none;
}

/* ROOT */
:root {
    --screen--s: 480px;
    --screen--m: 768px;

    --h--header: 96px;

    --z--bg: -10;
    --z--header: 10;
    --z--popup: 20;

    --c--text: 25, 47, 96;
    --c--accent: 172, 39, 24;

}

/* ANIMATION */
@keyframes hamburgerAfter {
    0% {
        top: 200%;
        transform: rotate(0);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(45deg) ;
    }
}
@keyframes hamburgerAfter-reverse {
    0% {
        top: 0;
        transform: rotate(45deg);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: 200%;
        transform: rotate(0) ;
    }
}
@keyframes hamburgerBefore {
    0% {
        top: -200%;
        transform: rotate(0);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(-45deg);
    }
}
@keyframes hamburgerBefore-reverse {
    0% {
        top: 0;
        transform: rotate(-45deg);
    }
    50% {
        top: 0;
        transform: rotate(0);
    }
    100% {
        top: -200%;
        transform: rotate(0);
    }
}

/* FRAMEWORK */
.background--static {
    z-index: var(--z--bg);
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    background-image: url("/images/bg-wave.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.background__side--left {
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100% - var(--screen--s))/2);
    height: 100%;
}
.background__side--right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100% - var(--screen--s))/2);
    height: 100%;
}

.background--dynamic {
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100dvw;
    height: 100dvh;
    transform: scale(1);
}

header {
    position: fixed;
    z-index: var(--z--header);
    top: 0;
    left: 0;
    width: 100dvw;
    height: var(--h--header);
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px rgba(55,55,255, 1)!important; */
}

.foreground {
    position: relative;
    margin: 0 auto;
    max-width: var(--screen--s);
    min-height: 100dvh;
    /* background: rgba(255,255,255, 0.7)!important; */
}

footer {
    position: relative;
    max-width: var(--screen--s);
    margin: 0 auto;
    height: 320px;
    border: solid 1px rgba(55,55,255, 1)!important;
}

/* COMPONENT */
.logo {
    display: inline-block;
}

.title {
    display: inline-block;
}

.hamburger {
    position: relative;
    width: 40px;
    height: 40px;
}
.hamburger__border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    aspect-ratio: 6 / 1;
    background-color: rgba(var(--c--text), 0.7);
    border-radius: 5px;
    transition: all 0.5s;
}
.hamburger__border::after, .hamburger__border::before {
    content: '';
    position: absolute;
    left: 0;
    top: var(--top);
    width: 100%;
    height: 100%;
    background-color: rgba(var(--c--text), 0.7);
    border-radius: 5px;
}
.hamburger__border::after{
    --top: 200%;
    animation: hamburgerAfter-reverse 0.5s;
}
.hamburger__border::before {
    --top: -200%;
    animation: hamburgerBefore-reverse 0.5s;
}

.hamburger:hover .hamburger__border, 
.hamburger:hover .hamburger__border::after,
.hamburger:hover .hamburger__border::before {
    background-color: rgba(var(--c--text), 1);
}

.hamburger.active .hamburger__border{
    background-color: rgba(var(--c--text), 0);
}
.hamburger.active .hamburger__border:after, .hamburger.active .hamburger__border:before {
    top: 0;
    transform: rotate(var(--angle));
}
.hamburger.active .hamburger__border:after{
    --angle: 45deg;
    animation: hamburgerAfter 0.5s;
}
.hamburger.active .hamburger__border:before {
    --angle: -45deg;
    animation: hamburgerBefore 0.5s;
}

.content-change-on-hover {
    --content: '';
    position: relative;
}
.content-change-on-hover::before {
    content: var(--content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    background-color: none;
    border-radius: 10px;
    display: none;
    text-align: center;
    vertical-align: middle;
}
.content-change-on-hover:hover {
    display: hidden;
}
.content-change-on-hover:hover::before {
    background-color: rgba(var(--c--accent), 1);
    display: block;
}

/* BACKGROUND STATIC */

/* BACKGROUND DYNAMIC */
.background--dynamic__fuji {
    --index: var(--z--bg);
    --width: 200%;
    --min-width: calc(var(--screen--m)*2);
    --top: 50%;
    --left: 50%;
    z-index: var(--index);
    position: absolute;
    transform: translateX(-50%);
    top: var(--top);
    left: var(--left);
    width: var(--width);
    min-width: var(--min-width);
    height: 100%;
    background-image: url("/images/fuji.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/* HEADER */
.header__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    height: 100%;
}
.logo-header, .title-header {
    width: auto;
    height: 100%;
}

/* NAV */
.nav-list {
    display: inline-block;
}
.nav--smallScreen {
    z-index: var(--z--popup);
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: var(--screen--s);
    aspect-ratio: 1;
    background-color: rgba(var(--c--accent), 1);
    border-radius: 50%;
    overflow: hidden;
    display: none;
}
.nav--smallScreen.active {
    display: block;
}
.nav--smallScreen__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav--smallScreen .nav-list {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0;
    text-align: center;
}
